{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div id="register" class="d-flex justify-content-center align-items-center" style="height: 45vh; margin-left: 25%; margin-right: 25%;">
    <div class="container bg-light p-4 rounded">
        <h1 class="text-center mb-4">Register</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email,  {'attr': {'class':'form-control mb-3'}}) }}
             {{ form_row(registrationForm.name,  {'attr': {'class':'form-control', 'style':'margin-bottom: 20px'}}) }}
            {{ form_row(registrationForm.plainPassword,  {'attr': {'class':'form-control mb-3', 'style':'margin-top: 1px;'}}, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms, {'attr': {'class':'form-check-input mb-3', 'style':'margin-left: 11px; margin-top: 5px'}}) }}

            <button type="submit" class="pull-right btn btn-lg sr-button" style="background-color: #5b1f00; color: #F5F5DC; margin-top: 18px">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
