<h1>Ficha de la tienda</h1>
<br>
    <ul>

        <li><strong>{{ tienda.nombre}}</strong></li>

        <li><strong>Horario: </strong>{{tienda.horario}}</li>

        <li><strong>Teléfono: </strong>{{ tienda.telefono}}</li>

        <li><strong>Correo: </strong>{{ tienda.email}}</li>

        <li><strong>Sitio web: </strong>{{ tienda.web}}</li>

    </ul>
	<img src="/img/1uno.png" class="casita" height="250" widht="250"/>
<img src="/img/rece.jpg" class="recibo" height="344" width="150" />